<ion-header>
  <ion-toolbar>
    <ion-title>Chat Firebase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let msg of messages">
      <ion-label>
        <h3>{{ msg.sender }}</h3>
        <p>{{ msg.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newMessage" placeholder="Escribe un mensaje" fill="outline"></ion-input>
    <ion-button expand="block" (click)="sendMessage()">Enviar</ion-button>
  </ion-toolbar>
</ion-footer>
